.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
}

.navbarContainer {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: beige;
}

.navbar div {
  width: 10%;
  padding-right: 5px;
}

